
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  margin: auto;
  background-color: #f9f9f9;
}

.hero-text {
  flex: 1;
  padding: 20px;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.hero-text h1 span {
  color: #007BFF; 
  font-weight: bold;
}

.hero-text p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}
.hero-photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-photo img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
